__pycache__/
.venv/
*.info.json
*.m4a
*.mp4
*.opus
*.part
*.webm
/artifacts/
/dist/
/node_modules/
/public/assets/SubtitleIndex.json.gzip
/src/assets/processed/
/src/assets/Subtitles.json
/src/downloader/output.srt
cookies.*
tempCodeRunnerFile.*
test.*
venv/
!public/assets/audio/*.opus
