@use 'sass:meta';
@use 'sass:color';
@use 'sass:string';

$font-size: 16px;
$default-fonts: 'Courier New', monospace;

$jerma-j: #60c2cb;
$jerma-e: #61abd2;
$jerma-r: #009a66;
$jerma-m: #359e97;
$jerma-a: #44a26d;
$jerma-9: #10979a;
$jerma-8: #3a76b2;
$jerma-5: #324a62;
$jerma-pink: #bf3c51;
$jerma-dark-blue: #13374d;

// #region Light Theme
$light-base: #c8c8c8;
$light-text: #000000;

:root[data-theme='light'] {
	--active-theme-border-color     : #{color.scale($light-text, $lightness: 30%)};
	--background-color              : #{$light-base};
	--button-background-color       : #{color.scale($light-base, $lightness: -5%)};
	--button-hover-background-color : #{color.scale($light-base, $lightness: -20%)};
	--button-text-color             : #{$light-text};
	--close-icon-hover-color        : #{color.scale($jerma-pink, $lightness: -20%)};
	--embed-icon                    : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 68 48'><path d='M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z' fill='%23#{string.slice(meta.inspect($jerma-m), 2)}'/><path d='M45 24 27 14v20' fill='white'/></svg>");
	--form-accent-color             : #{$jerma-8};
	--form-border-color             : #{$jerma-j};
	--form-caret-color              : #{$jerma-5};
	--header-background-color       : #{color.scale($light-base, $lightness: -20%)};
	--header-text-color             : #{$light-text};
	--highlight-background-color    : #{color.scale($jerma-m, $alpha: -40%)};
	--highlight-text-color          : #{$light-text};
	--hyperlink-color               : #{color.scale($jerma-m, $lightness: -20%)};
	--icon-color                    : #{color.scale($light-base, $lightness: -75%)};
	--icon-hover-color              : #{$jerma-8};
	--inactive-theme-border-color   : #{color.scale($light-base, $lightness: -20%, $alpha: -20%)};
	--input-background-color        : #{color.scale($light-base, $lightness: 80%)};
	--input-hover-background-color  : #{color.scale($light-base, $lightness: 70%)};
	--input-text-color              : #{$light-text};
	--loading-download-color        : #{color.scale($jerma-a, $lightness: -30%)};
	--loading-parse-color           : #{color.scale($jerma-e, $lightness: -30%)};
	--match-seperator-color         : #{color.scale($jerma-j, $lightness: -60%)};
	--modal-backdrop-color          : #{color.scale($light-base, $alpha: -20%)};
	--modal-background-color        : #{color.scale($light-base, $lightness: -5%)};
	--page-info-background-color    : #{color.scale($light-base, $lightness: 30%)};
	--page-info-text-color          : #{$light-text};
	--result-item-background-color  : #{color.scale($light-base, $lightness: 60%)};
	--result-item-border-color      : #{$jerma-j};
	--result-text-color             : #{$light-text};
	--result-title-background-color : #{color.scale($light-base, $lightness: -10%)};;
	--text-color                    : #{$light-text};
}
// #endregion

// #region Dark Theme
$dark-base: #212121;
$dark-text: #ffffff;

:root[data-theme='dark'] {
	--active-theme-border-color     : #{color.scale($dark-text, $lightness: -20%)};
	--background-color              : #{$dark-base};
	--button-background-color       : #{$jerma-dark-blue};
	--button-hover-background-color : #{color.scale($jerma-8, $lightness: -20%)};
	--button-text-color             : #{$dark-text};
	--close-icon-hover-color        : #{$jerma-pink};
	--embed-icon                    : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 68 48'><path d='M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z' fill='%23#{string.slice(meta.inspect($jerma-dark-blue), 2)}'/><path d='M45 24 27 14v20' fill='white'/></svg>");
	--form-accent-color             : #{$jerma-9};
	--form-border-color             : #{$jerma-5};
	--form-caret-color              : #{$jerma-r};
	--header-background-color       : #{color.scale($dark-base, $lightness: -20%)};
	--header-text-color             : #{$dark-text};
	--highlight-background-color    : #{color.scale($jerma-5, $alpha: -30%)};
	--highlight-text-color          : #{$dark-text};
	--hyperlink-color               : #{$jerma-9};
	--icon-color                    : #c8c8c8;
	--icon-hover-color              : #{$jerma-9};
	--inactive-theme-border-color   : #{$jerma-5};
	--input-background-color        : #{color.scale($dark-base, $lightness: -30%)};
	--input-hover-background-color  : #{color.scale($dark-base, $lightness: -40%)};
	--input-text-color              : #{$dark-text};
	--loading-download-color        : #{$jerma-a};
	--loading-parse-color           : #{$jerma-e};
	--match-seperator-color         : #{$jerma-j};
	--modal-backdrop-color          : #{color.scale($dark-base, $alpha: -20%)};
	--modal-background-color        : #{color.scale($dark-base, $lightness: -20%)};
	--page-info-background-color    : #{color.scale($dark-base, $lightness: -20%)};
	--page-info-text-color          : #{color.scale($dark-text, $lightness: -20%)};
	--result-item-background-color  : #{color.scale($dark-base, $lightness: -69%)};
	--result-item-border-color      : #{color.scale($jerma-e, $lightness: -60%, $alpha: -20%)};
	--result-text-color             : #{$dark-text};
	--result-title-background-color : #{color.scale($dark-base, $lightness: -20%)};
	--text-color                    : #{$dark-text};
}
// #endregion

// #region Dark Blue Theme
$dark-blue-base: $jerma-dark-blue;
$dark-blue-text: #ffffff;

:root[data-theme='dark-blue'] {
	--active-theme-border-color     : #{$jerma-pink};
	--background-color              : #{$dark-blue-base};
	--button-background-color       : #{color.scale($jerma-e, $lightness: -40%)};
	--button-hover-background-color : #{color.scale($jerma-e, $lightness: -10%)};
	--button-text-color             : #{$dark-blue-text};
	--close-icon-hover-color        : #{$jerma-pink};
	--embed-icon                    : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 68 48'><path d='M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z' fill='%23#{string.slice(meta.inspect($jerma-pink), 2)}'/><path d='M45 24 27 14v20' fill='white'/></svg>");
	--form-accent-color             : #{$jerma-pink};
	--form-border-color             : #{$jerma-j};
	--form-caret-color              : #{$jerma-pink};
	--header-background-color       : #{color.scale($dark-blue-base, $lightness: -20%)};
	--header-text-color             : #{$dark-blue-text};
	--highlight-background-color    : #{color.scale($jerma-pink, $alpha: -40%)};
	--highlight-text-color          : #{$dark-blue-text};
	--hyperlink-color               : #{color.scale($jerma-pink, $lightness: 10%)};
	--icon-color                    : #c8c8c8;
	--icon-hover-color              : #{$jerma-pink};
	--inactive-theme-border-color   : #{color.scale($dark-blue-text, $alpha: -60%)};
	--input-background-color        : #{color.scale($dark-blue-base, $lightness: -20%)};
	--input-hover-background-color  : #{color.scale($dark-blue-base, $lightness: -30%)};
	--input-text-color              : #{$dark-blue-text};
	--loading-download-color        : #{$jerma-a};
	--loading-parse-color           : #{$jerma-e};
	--match-seperator-color         : #{$jerma-j};
	--modal-backdrop-color          : #{color.scale($dark-blue-base, $alpha: -20%)};
	--modal-background-color        : #{color.scale($dark-blue-base, $lightness: -20%)};
	--page-info-background-color    : #{color.scale($dark-blue-base, $lightness: -20%)};
	--page-info-text-color          : #{color.scale($dark-blue-text, $lightness: -20%)};
	--result-item-background-color  : #{color.scale($dark-blue-base, $lightness: -20%)};
	--result-item-border-color      : #{$jerma-j};
	--result-text-color             : #{$dark-blue-text};
	--result-title-background-color : #{color.scale($dark-blue-base, $lightness: -35%)};
	--text-color                    : #{$dark-blue-text};
}
// #endregion

:root {
	--fonts: #{$default-fonts};
}
