@use './_variables.scss' as *;

.full-page {
    height: 100dvh;
    left: 0;
    object-fit: fill;
    position: fixed;
    top: 0;
    width: 100dvw;
}

.hidden {
    display: none;
}

:root {
    &[secret-theme='buffy'] {
        #settings-dialog {
            background-image: url('/assets/images/buffyBleh.avif');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            > *:not(#close-button) {
                opacity: 0;
            }
        }
    }

    &[secret-theme='gongo'] {
        #page-container {
            background-image: url('/assets/images/gongoCrystal.avif');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            overflow: hidden;
            width: 100%;

            form#search-bar {
                width: 95%;
                z-index: 1;
                opacity: 0.25;

                @media screen and (min-width: 768px) {
                    width: 80%;
                }
            }

            img {
                &#mornReal {
                    left: 4rem;
                    position: absolute;
                    top: 0;
                    transform: rotate(180deg);
                    width: 4rem;
                    z-index: 0;
                }

                &#actualEntertainment {
                    right: 0;
                    position: absolute;
                    top: 0;
                    height: 2rem;
                }

                &#spynxHeart {
                    position: absolute;
                    right: 0.69rem;
                    top: 2rem;
                }

                &#spynx {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    width: 0.5rem;
                }

                &#honseWalk {
                    bottom: 0.42rem;
                    left: 0.5rem;
                    position: absolute;
                    width: 12rem;
                    z-index: 1;
                }

                &#patGlu {
                    bottom: 0;
                    left: 4.2rem;
                    position: absolute;
                    width: 3rem;
                    z-index: 0;
                }

                &#bounceDoc {
                    bottom: -2rem;
                    position: absolute;
                    right: 11rem;
                    width: 5rem;
                }

                &#bounceDok {
                    bottom: -1rem;
                    height: 4.2rem;
                    position: absolute;
                    right: 15.45rem;
                    width: 3rem;
                }

                &#phloxB {
                    bottom: 0;
                    position: absolute;
                    right: 5.75rem;
                    width: 5rem;
                }

                &#tuvokLUL {
                    bottom: 0;
                    position: absolute;
                    right: -0.6rem;
                    width: 6.5rem;
                    z-index: 1;
                }

                &#daxMug {
                    bottom: -0.3rem;
                    position: absolute;
                    right: -0.5rem;
                    width: 2rem;
                    z-index: 0;
                }
            }
        }

        #page-info,
        #results>h1,
        #results>h2,
        #results-list,
        #header #left #logo img#erma985 {
            display: none;
        }

        img#J {
            content: url('/assets/images/gongo.avif');
        }
    }

    &[secret-theme='osmo'] {
        --button-background-color: #320032 !important;
        --button-hover-background-color: #682b70 !important;
        --button-text-color: #ff00ff !important;
        --form-accent-color: #753175 !important;
        --form-border-color: #772f77 !important;
        --header-background-color: #160016 !important;
        --highlight-background-color: #a100a1 !important;
        --highlight-text-color: #ffffff !important;
        --icon-color: #a100a1 !important;
        --icon-hover-color: #ff00ff !important;
        --input-background-color: #915f91 !important;
        --input-hover-background-color: #b165b1 !important;
        --result-item-border-color: #a100a170 !important;
        --result-text-color: #ffffff !important;
        --result-title-background-color: #160016be !important;

        body {
            background-image: url('/assets/images/omoReal.avif');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            min-height: 100dvh;
        }

        form#search-bar {
            opacity: 0.5;
        }

        #page-container {
            position: relative;

            #results {
                .video-embed,
                .video-info>h3#title {
                    opacity: 0.5;
                }

                .result-item {
                    background-image: url('/assets/images/omoStare.avif');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            img {
                &#omoJam {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    width: 5%;
                    z-index: 0;
                }

                &#omoP {
                    bottom: 0;
                    position: absolute;
                    right: 0;
                    width: 2%;
                    z-index: 1;
                }
            }
        }

        #header #left #logo img {
            &#J {
                content: url('/assets/images/babaOsmo.avif');
            }

            &#erma985 {
                display: none;
            }
        }
    }

    &[secret-theme='pikmin'] {
        #page-container {
            overflow: hidden;
            position: relative;

            img {
                &#picMin {
                    bottom: 0;
                    position: absolute;
                    right: 0;
                    width: 4.2%;
                }
            }
        }
    }

    &[secret-theme='rickroll'] {
        .video-embed[videoid='dQw4w9WgXcQ'] {
            height: 100dvh;
            left: 0;
            max-width: unset;
            position: fixed;
            top: 0;
            width: 100dvw;
            z-index: -1;
        }
    }

    &[secret-theme='sphynx'] {
        #page-container {
            position: relative;
            overflow: hidden;

            img {
                &#spynxSit {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 21%;
                }

                &#spynxP {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 3%;
                }
            }
        }

        #header #left #logo img#erma985 {
            display: none;
        }

        img#J {
            content: url('/assets/images/gongo.avif');
        }
    }

    &[secret-theme='terraria'] {
        font-family: 'Andy', sans-serif;
    }

    &[secret-theme='minecraft'] {
        font-family: 'Minecraft', monospace;
    }
}
