name: Update subtitles

on:
  push:
    branches: [main]
    paths: [src/assets/subtitles/**]
  workflow_dispatch:
  workflow_run:
    workflows: [Run get_subtitles.py]
    types:
      - completed

concurrency:
  group: subtitle-indexing
  cancel-in-progress: true

jobs:
  update-subtitles:
      runs-on: ubuntu-latest
      permissions:
        contents: write
      if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
      steps:
        - name: Checkout
          uses: actions/checkout@v5.0.1

        - name: Setup Python
          uses: actions/setup-python@v6.0.0
          with:
            python-version: 3
            cache: pip
            check-latest: true

        - name: Install Python packages
          run: |
            python -m venv venv
            source venv/bin/activate
            pip install b2[full]
            deactivate

            cd src/scripts/get_subtitles
            python -m venv venv
            source venv/bin/activate
            pip install python-dateutil

        - name: Authenticate B2 CLI
          run: |
            source venv/bin/activate
            b2 account authorize "${{ secrets.B2_APP_KEY_ID }}" "${{ secrets.B2_APP_KEY }}" &> /dev/null

        - name: Download Subtitles.json
          run: |
            source venv/bin/activate
            b2 file download b2://jerma-subtitles/Subtitles.json src/assets/Subtitles.json

        - name: Run write_subtitles_json.py
          run: |
            cd src/scripts/get_subtitles
            source venv/bin/activate
            python write_subtitles_json.py

        - name: Run update_stats.py
          run: |
            cd src/scripts
            python update_stats.py
            git add ../../README.md

        - name: Commit
          uses: qoomon/actions--create-commit@v1.2.3
          with:
            message: 'docs: update statistics'
          continue-on-error: true

        - name: Install Bun
          uses: oven-sh/setup-bun@v2.0.2
          with:
            bun-version: latest

        - name: Install MiniSearch
          run: bun install minisearch --no-save

        - name: Update subtitle index
          run: |
            bun src/scripts/index-subtitles.js
            source venv/bin/activate
            b2 file upload jerma-subtitles public/assets/SubtitleIndex.json.gzip SubtitleIndex.json.gzip &> /dev/null

        - name: Bump package.json patch version
          id: bump_version
          run: |
            bun pm version patch --git-tag-version false
            VERSION=$(bun -p "require('./package.json').version")
            echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
            git add package.json

        - name: Commit
          uses: qoomon/actions--create-commit@v1.2.3
          with:
            message: 'chore: bump version to ${{ steps.bump_version.outputs.VERSION }}'

        - name: Push
          run: git push
